<!doctype html>
{% extends "bootstrap/base.html" %}

{% block title %} Hejsan svejsan {%endblock%}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only"> Toggle navigation </span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>

			</button>
			<a class="navbar-brand" href="/"> Hej </a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="/"></a>Home</li>
			</ul>
		</div>
	</div>
</div>
{%endblock%}

{%block content %}



<ul>
    {% for i in shared_dict %}
        <li> {{ i }} {{ shared_dict[i] }} </li>
    {% endfor %}
</ul>
{{ wtf.quick_form(ute_temp_form)}}

{%endblock%}